@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: "BalooBhaijaan2";
    src: url("/fonts/EBGaramond/EBGaramond-Regular.ttf");
    font-style: normal;
    font-weight: 400;
    font-display: swap;
  }
  @font-face {
    font-family: "BalooBhaijaan2";
    src: url("/fonts/static/BalooBhaijaan2-Medium.ttf");
    font-style: normal;
    font-weight: 500;
    font-display: swap;
  }
  @font-face {
    font-family: "BalooBhaijaan2";
    src: url("/fonts/static/BalooBhaijaan2-SemiBold.ttf");
    font-style: normal;
    font-weight: 600;
    font-display: swap;
  }
  @font-face {
    font-family: "BalooBhaijaan2";
    src: url("/fonts/static/BalooBhaijaan2-Bold.ttf");
    font-style: normal;
    font-weight: 700;
    font-display: swap;
  }
